@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat:wght@400;600&family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost:wght@200;400&family=Montserrat:wght@400;600&family=Poppins:wght@400;700&display=swap');

/*Colors*/

.primary-1{
    color: #CDA274;
}

.primary-2{
    color: #292F36;
}

.primary-3{
    color: #F4F0EC;
}

.primary-4{
    color: #4D5053;
}

/*Fonts-size*/
.disply-01-Text{
    font-size: 85px;
}

.heading-01-Text{
    font-size: 50px;
}

.heading-02-Text{
    font-size: 35px;
}

.heading-03-Text{
    font-size: 25px;
}

.heading-04-Text{
    font-size:22px;
}

.heading-05-Text{
    font-size: 20px;
}

.heading-06-Text{
    font-size: 18px;
}

.fz-main{
    font-size: 16px;
}

/*Fonts*/

.main-font{
    font-family: 'DM Serif Display', serif;
}


.second-font{
    font-family: Jost;
}

.font-w{
    font-weight: 550;
}

/*-----------------------------------------*/
.hide {
	display: none ;
}

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
.logo img{
    margin-top: 2px;
    height: 34px;
}

.logo{
    display: flex;
}

.menu-list li a{
    text-decoration: none;
    font-size: 25px;
    color: #4D5053;
}
.menu-list li {
    text-align: center;
}

.menu-list li:first-child {
    margin-top: 50px;
}

.menu-list li:not(:last-child) {
    margin-bottom: 40px;
}





.contant-wrap{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
    /*background-color: aqua;*/

}

.header-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 77px;
}


.text-logo{
    font-size: 40px;
    color: #292F36;
    padding-left: 5px;
}

/* .main-menu{
    position: relative;
} */
.main-menu i {
	cursor: pointer;
}

.menu-list{
    width: 100vw;
	height: 720px;
	padding: 20px;
    margin-top: 20px;
	position: absolute;
	right: 0;
    list-style: none;
    background-color: #FFFFFF;
}

.first-part{
    height: 700px;
    background: url('../img/mainphoto.png');
    background-size: cover;
    background-position: center ;
    /* position: relative; */
}



.text-part1{
    font-size: 44px;
    max-width: 750px;
    text-align: left; 
    font-style: normal;
    font-weight: 400;
    line-height: 125%; 
    padding-top: 15px;
}

.text-part2{
    padding-top: 15px;
    padding-bottom: 20px;
    color: #4D5053;
    max-width: 290px;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 21.6px */
    letter-spacing: 0.18px;
}


.button{
    display: block;
    width: 145px;
    height: 44px;
    padding: 8.5px 0 ;
    color: #FFF;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 18px;
    background: #292F36;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 22.5px */
    letter-spacing: 0.36px;
    box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
}

.button i{
    stroke-width: 2px;
    color: #CDA274;
}

.button:hover {
    color: #292F36;
    background: #fff;
  }


section{
    padding-top: 40px;
}

.read-more{
    text-align: center;
}
.read-more-item{
    min-width: 300px;
    width: 50%;
    padding: 0 22px;
}
.read-more-item:not(:last-child){
    margin-bottom: 40px;
}
.read-more-title, .read-more-text{
    padding-bottom: 20px;
}

.read-more-text{
    padding-bottom: 20px;
}
.read-more-text2{
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
}

.read-more-text2 i{
    
    stroke-width: 2px;
    stroke: #CDA274;
}

.d-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.d-flex-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}



.call-photo{
    width: 100%;
    height: 100%;
    /*border-radius:0 220px 0 120px;*/
}

.call-text-title{
    width: 290px;
    text-align: center;
    margin: 40px auto 0;
}

.call-text-text2{
    width: 290px;
    text-align: center;
    margin: 20px auto 0;
}
/*-----------------*/
.call-text-text3{
    display: flex;
    margin: 0 auto ;
    text-align: center;
}
.phone-text{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 50px 0 0 20px;
    text-align: left;
}
.phone-text a{
    text-decoration: none;
    margin-bottom: 3px;
}



.phone{
    width: 93px;
    height: 93px;
    background-color: #F4F0EC;
    border-radius:93px;
    margin-top:40px
}
.phone img{
    text-align: center;
    width: 32px;
    height: 32px;
    margin: 30px;
}

.phone-number{
    font-weight: 700;
    font-size: 24px;
}

.call-text .button{
    margin: 40px auto 0;
    width: 310px;
    height: 75px;
    padding: 15px 30px;
}




.brand-items{
    display: flex;
}
.brand-items img:first-child{
    margin-top: 80px;
}
.brand-items img:not(:last-child){
    margin-bottom: 80px;
}







.about-content{
    height: 950px;
    border-radius: 25px;
    background-color: #F4F0EC;
}

.about-title{
    margin: 0 auto;
    width: 260px;
    text-align: center;
    padding-top: 40px;
}

.about-block{
    height: 225px;
    width: 255px;
    background-color: #FFFFFF;
    border-radius: 25px;
    margin: 32px 16px 0;
}

.about-block img{
    height: 77px;
    border-radius: 40px;
    margin: 20px 0 0 20px;
}

.about-row{
    display: flex;
}

.about-text1{
    margin: 32px 0 0 16px;
}

.about-text2{
    text-align: center;
    margin: 24px 4px 0;
}





.project-title, .project-text{
    text-align: center;
}

.project-text{
    width: 250px;
    margin: 0 auto;
}
.project-blocks img{
    width: 100%;
    height: 100%;
}

.project-button{
    width: 70px;
    height: 70px;
    background-color: #F4F0EC;
    border-radius: 70px;
    margin-right:  0;

}

.project-box-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 24px 0;
}

.project-button i{
    font-size: 25px;
    margin: 0 27px;
    line-height: 72px;
    color: #292F36;
}

.kitchan1{
    border-radius: 0 75px 0 0;
}

.kitchan2{
    border-radius: 75px 0 0 0;
}

.kitchan3{
    border-radius: 0 0 75px  0;
}

.kitchan4{
    border-radius: 0 0 0 75px ;
}



.numbers-block{
    text-align: center;
}
.numbers-background{
    height: auto;
    padding: 20px 0;
    background-color: #F4F0EC;
}


.numbers-text{
    margin-bottom: 20px;
}
.numbers-block-item1, .numbers-block-item2, .numbers-block-item3{
    border-bottom: 2px solid #CDA274;
}




.article-item1, .article-item2, .article-item3{
    position: relative;
}

.bottom-left{
    position: absolute;
    top: 215px;
    left: 30px;
    color: black;
    width: 124px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #FFFFFF;
    border-radius: 10px 10px 10px 0;
}

.article-item-text, .article-date{
   padding-left: 18px ;
   width: 250px;
}

.article-date{
    margin-top: 20px;
}


.articles-news-title , .articles-news-text{
    text-align: center;
    width: 290px;
    margin: 0 auto;
}


.articles-news-title{
    padding-bottom: 12px;
}

.article-item1{
    margin-top: 40px;
}
.article-item3{
   display: flex;
   flex-direction: column;
}
.article-item3 img{
    order: -1;
 }


.article-item1, .article-item2, .article-item3{
    width: 280px;
    height: 450px;
    border: 1px solid #E7E7E7;
    border-radius: 75px;
}

.article-item1, .article-item3{
    margin-bottom: 20px;
    
}
.article-item1:hover,.article-item2:hover,.article-item3:hover{
    background-color: #F4F0EC;
}


.article-item1:hover .article-button, .article-item2:hover .article-button,.article-item3:hover .article-button{
    background-color: #FFFFFF;
}




.articles-blocks img{
    width: 240px;
    height: 250px;
    border-radius: 55px 55px 0 0;
    margin: 20px 18px;
}

.articles-row{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.row2{
    margin-top: 12px;
}
.article-button{
    width: 52px;
    height: 52px;
    background-color: #F4F0EC;
    border-radius: 30px;
    text-align: center;
    padding-top: 17px;
    margin-right: 20px;
}
.article-button i, .article-button2 i{
    color: #292F36;
}



.join-content{
    height: 350px;
    border-radius: 45px;
    background-color: #292F36;
}

.join-title{
    padding-top: 40px;
}
.join-title, .join-text{
    margin: 0 auto;
    color: #FFFFFF;
    text-align: center;
    width: 260px;
    margin-bottom: 20px;
}


 .button-black{
    margin:  0 ;
    width: 185px;
    text-decoration: none;
    height: 44px;
    padding: 8.5px 0 ;
    color: #FFFFFF;
    font-weight: 600;
    text-align: center; 
    gap: 10px;
    flex-shrink: 0;
    border-radius: 18px;
    background: #CDA274;
    line-height: 125%; /* 22.5px */
    letter-spacing: 0.36px;
    
}
.button-black:hover{
    background-color: #E7E7E7;
    color: #CDA274;
}
.button-join{
    display: flex;
    justify-content: center;
    align-items: center;
}

.conclusion a{
    text-decoration: none;
    color: #4D5053;
}
.icons a{
    text-decoration: none;
    color: #292F36;

}

.conlusion-par1{
    display: flex;
    flex-direction: column;
    
}
.conclusion .conclusion-par1 a{
    text-decoration: none;
}
.conlusion-par1 .icons a:not(:last-child){
    margin-right: 30px;
}

.conclusion-text{
    width: 300px;
    margin: 20px 0;
}

.conlusion-par2{
    margin-top: 20px;
}
.contacts-info li , .concl-info li{
    width: 250px;
    list-style: none;
    margin-top: 10px;
    
}


.conclusion-part-hidden{
    visibility: visible; /* За замовчуванням текстовий блок видимий */
  padding: 20px;
}

.end{
    text-align: center;

    margin: 48px;
}




/* SERVICES ---------------------------------------------------------------------------------------------------------------------------------*/

.first-part-page{
    height: 356px;
    background: url('../img/servicesphoto.svg');
    background-size: cover;
    background-position: center ;
    padding-top: 237px;
}

.square{
    width: 220px;
    height: 120px;
    margin: 0 auto 0;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border-radius: 37px 37px 0 0;
}

.text-part1-page{
    font-size: 28px;
    /* max-width: 290px; */
    text-align: center; 
    font-style: normal;
    font-weight: 550;
    line-height: 125%; 
    padding-top: 25px;
}

.text-part2-page{
    padding-top: 15px;
    color: #4D5053;
    /* max-width: 290px; */
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 21.6px */
    letter-spacing: 0.18px;
}
.how2{
    padding: 22px;
}
.read-more-item-page{
    min-width: 300px;
    width: 50%;
    padding: 22px;
}
.read-more-item-page:hover, .how2:hover{
    background-color: #F4F0EC;
    border-radius: 30px;
}
.read-more-item-page:not(:last-child){
    margin-bottom: 40px;
}

.read-more-page{
    text-align: center;
}
.read-more-item-page{
    min-width: 300px;
    width: 50%;
    padding: 22px;
}
.read-more-item-page:hover{
    background-color: #F4F0EC;
    border-radius: 30px;
}
.read-more-item-page:not(:last-child){
    margin-bottom: 40px;
}
.read-more-title-page, .read-more-text-page{
    padding-bottom: 20px;
}

.read-more-text-page{
    padding-bottom: 20px;
}
.read-more-text2-page{
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
}

.read-more-text2-page i{
    
    stroke-width: 2px;
    stroke: #CDA274;
}






.block-work{
    background-color: #F4F0EC;
    height: 2250px;
    border-radius: 70px;
    width: auto;
}

.work-title{
    font-size: 32px;
    text-align: center;
    padding-top: 70px;
}


.work-secondtext{
    font-size: 18px;
    text-align: center;
    padding: 10px 15px 0;
    max-width: 680px;
    margin: 0 auto;
}


.work-img{
    width:250px;
  
}

.work-icon{
    width: 92px;
    height: 92px;
}

.work-item1{
    margin-top: 20px;
    text-align: center;
}

.work-item-text{
    max-width: 350px;
    margin-top: 11px;
}

.work-item-number{
    font-size: 120px;
    color: #FFFFFF;
}


.work-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-column-reverse{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.d-flex-work{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}
 
.d-flex-reverse{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* BLOG---------------------------------------------------------------------------------------------------------------------------------------- */
.page-blog{
    background: url('../img/blog.png');
    background-position: center ;
}

.post-text{
    font-size: 30px;
    padding-bottom: 27px;
}

.post-title{
    color: #292F36;
font-family: DM Serif Display;
font-size: 25px;
font-style: normal;
font-weight: 550;
line-height: 125%; /* 31.25px */
letter-spacing: 0.5px;
}

.post-text2, .post-text3{
    color: #4D5053;
font-family: Jost;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 33px */
letter-spacing: 0.22px;
}
.post-text2{
    margin-bottom: 15px;
}

.post-shape{
    border: 1px solid #E7E7E7;
    border-radius: 32px;
    height: auto;
    display: flex;
}

.post-img{
    width: 100%;
    height: 100%;
    border-radius: 45px;
    padding: 22px;
    order: -1;
}

.post-date{
    margin-top: 50px;
    color: #4D5053;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.16px;
}

.post-description{
    margin: 22px;
}

@media (min-width:769px){
    .post-shape, .post-text{
        margin: 0 22px;
    }
}

@media (min-width: 1025px){
    .post-shape{
        height: auto;
        gap: 65px;
    }
    .post-text{
        font-size: 50px;
    }
    .post-text2{
        margin-top: 22px;
    }
    .post-text2, .post-text3{
        max-width: 470px;
    }
    .post-img{
        width: 569px;
        height: 478px;
    }
    .post-title{
        max-width: 450px;
    }
    .post-description{
        margin: 22px;
    }
    .margint2{
        margin-bottom: -52px ;
    }
}


@media (min-width:1201px){
    .post-shape, .post-text{
        margin: 0 ;
    }
    .margint2{
        margin-bottom: -52px ;
    }
}







/* Contact------------------------------------------------------------------------------------------------------------------------------------ */

.page-contact{
    background: url('../img/contact.png');
    background-position: center ;
}

.contact-title{
    color: #292F36;
    text-align: center;
    font-family: DM Serif Display;
    font-size: 22px;
    font-style: normal;
    font-weight: 550;
    line-height: 150%; /* 75px */
    letter-spacing: 0.5px;
    max-width: 320px;
    margin: 0 auto;
}

.contact-information{
    background-color: #F4F0EC;
    height: auto;
    width:250px;
    border-radius: 20px;
    margin: 20px 0 0 0;
    padding: 15px 15px;
}

.contact-item{
    margin: 0  0 10px 0;

}
.contact-form{
    margin-top: 40px;
}

.contact-icon{
    display: flex;
    align-items: center;
    width: 52px;
    height: 52px;
    flex-shrink: 0;
    background-color: #FFFFFF;
    border-radius: 50%;

}

.contact-icon img{
    padding: 17px 14px;
    margin: 0 auto;
    /* width: 22px;
    height: 17px; */
}

.icon-text{
    margin: 0 0 0 10px;
    
}

.icon-text a{
    text-decoration: none;
    color: #4D5053;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    letter-spacing: 0.2px;
}

.contact-links a:not(:last-child){
    margin-right: 15px;
}
.contact-button{
    border-radius: 18px;
    background: #292F36;
    box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
    padding: 16px 54px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 58px 0 0 0 ;
    width: 300px;
}
.contact-button:hover{
    background-color: #E7E7E7;
    color: #CDA274;
}

.contact-button {
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-family: Jost;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 22.5px */
    letter-spacing: 0.36px;
    }

.contact-button i{
    margin-left: 9px;
}


.form-input-field {
    height: 65px;
    min-height: 0;
    letter-spacing: .01em;
    background-color: transparent;
    border: 1px #000;
    border-bottom-style: solid;
    margin-bottom: 20px;
    padding-left: 0;
    font-family: Jost,sans-serif;
    font-size: 22px;
    line-height: 1.5;
    min-width: 300px;
}

.form-input-field.text-area {
    min-height: 150px;
    color: var(--black-background);
    background-color: transparent;
    font-family: Jost,sans-serif;
    font-size: 22px;
    line-height: 1.5;
}
  

/* .maps-block{
    margin: 0 auto;
} */
.maps-img{
    width: 280px;
    margin:  auto;
}

@media (min-width:769px){
    .contact-title{
        font-size: 32px;
        max-width: 450px;
    }
    .contact-information{
        width: 349px;
        padding: 76px 32px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 50px;
    }
    .contact-item{
        margin: 0  0 30px 0;
    
    }
    .icon-text a{
        font-size: 20px;
        margin: 0 0 15px 15px;
    }
    .contact-links a:not(:last-child){
        margin-right: 35px;
    }
    .contact-links a:first-child{
        margin-left: -24px;
    }
    
    
}
@media (min-width:1025px){
    .contact-title{
        font-size: 40px;
        max-width: 550px;
    }
    .contact-information{
        margin-left: 22px;
    }
    .contact-form{
        margin-top: 80px;
        margin-left: 55px;
        margin-right: 22px;
    }
    .form-left{
        margin-right: 10px;
      }
      .form-right{
        margin-left: 10px;
      }
   .contact-button{
        max-width: 350px;
  }
}
@media (min-width:1201px){
    .contact-title{
        font-size: 50px;
        max-width: 650px;
    }
    .contact-links a:first-child{
        margin-left: 0px;
    }
    .contact-information, .contact-form{
        margin: 80px 0 0 0;
    }
    .form-left{
        margin-right: 10px;
      }
      .form-right{
        margin-left: 10px;
      }
    .maps-img{
        width: auto;
    }
    .contact-form{
        margin-left: 55px;
    }
    
}
/* 404---------------------------------------------------------------------------------------------------------------------------------------- */

.text404{
    font-size: 110px;
    text-align: center;
    margin: 100px 0 50px 0;
}
.text-exp{
    text-align: center;
    font-size: 50px;
    max-width: 769px;
}
.view{
    display: none;
}
.error-button{
    display: flex;
    /* padding: 26px 54px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 18px;
    background: #292F36;
    box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
    max-width: 200px;
    margin: 20px auto 0;
}
.error-button a{
    color: #FFF;
    text-decoration: none;
    /* width: 150px;  */
    padding: 26px 15px;
    text-align: center;
    font-family: Jost;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 22.5px */
    letter-spacing: 0.36px;
}

.error-button i{
    color: #CDA274;
}

.error-button:hover a{
    background-color: #FFF;
    color: #CDA274;
    border-radius: 18px;
}


@media (min-width:769px){
    .text404{
        font-size: 250px;
    }
}
@media (min-width:1025px){
    .text404{
        text-align: left;
        margin-left: 22px;
        font-size: 200px;
    }
    .text-exp{
        font-size: 35px;
        text-align: left;
        margin-left: 22px;
        max-width: 500px;
        font-weight: 400;
        line-height: 150%; /* 52.5px */
        letter-spacing: 0.35px;
    }
    .view{
        display: block;
    }
    .error-photo img{
        width: 500px;
        border-radius: 0 0 0 150px;
        margin-right: 22px;
    }
    .gap{
        gap: 150px;
    }
    .error-button{
        margin: 23px 0 0 22px;
    }
}
@media (min-width:1201px){
    .text404{
        text-align: left;
        margin-left: 22px;
        font-size: 250px;
    }
    .text-exp{
        font-size: 35px;
        text-align: left;
        margin-left: 22px;
    }
    
    .text-exp, .text404{
        margin-left: 0;
    }
    .error-photo img{
        width: 700px;
        border-radius: 0 0 0 300px;
        
    }
    .gap{
        gap: 100px;
    }
    .error-button{
        margin-left:0 ;
    }
}





/*MEDIA--------------------------------------------------------------------------------------------------------------------------------------*/
@media (min-width:481px){
    .text-part1{
        font-size: 50px;
        max-width: 450px;
    }
    .text-part2{
        max-width: 350px;
    }
    .first-part{
        height: 650px;
    }
    .menu-list{
        height: 700px;
    }
    .first-part-page{
        padding-top: 207px;
    }
    .square{
        width: 260px;
        height: 150px;
        margin: 0 auto 0;
        box-sizing: border-box;
        background-color: #FFFFFF;
        border-radius: 37px 37px 0 0;
    }
    
    .text-part1-page{
        padding-top: 30px;
        font-size: 35px;
    }
    
    .text-part2-page{
        padding-bottom: 20px;
    }
}


@media (max-width: 1201px) {
    .conclusion-part-hidden {
        display: none; /* Сховати текстовий блок на телефоні */
    }
  }
  

/*ховається сайд бар на ноуті*/
@media (min-width: 769px){
    .main-menu  .fa-bars{
		display: none;
	}
    .main-menu  .fa-xmark{
		display: none;
	}
    .menu-list{
        height: 50px;
		width: auto;
        position: static;
        display: flex;
        padding: 0;
    }
    .menu-list li:not(:last-child){
        margin-right: 8px;
    }
    .menu-list li i{
        margin-top: 8px;
    }

    .menu-list li:first-child {
        margin-top: 0;
    }
    .menu-list li:last-child{
        margin-right: 10px;
    }
    .header-menu{
        height: 100px;
    }
    .contant-wrap{
        padding: 0 ;
    }
    .first-part{
        height:700px;
        border-radius:0 0 0 180px;
    }
    .logo, .text-part1, .text-part2, .button{
        margin-left: 24px;
    }
    
    section{
        padding-top: 80px;
    }
    
    .read-more .d-flex{
        column-gap: 40px;
        align-items: center;
    }


    .call-photo{
        padding-left: 24px;
        padding-right: 24px;
    }
    
    .call-text-title, .call-text-text2, .call-text-text3{
        width: 450px;
        padding-left: 0;
        
    }

    .articles-news-text{
        width: 500px;
    }

    .phone{
        margin-left: 76px;
    }
    
    .about-content{
        margin: 0 24px;
    }
    
    .join-content{
        margin: 0 24px;
    }
    .project-blocks img{
        display: flex;
    }
    .conclusion-text{
        width: 400px;
        margin: 20px 24px 0;
    }
    
    .icons{
        margin-top: 30px;
        margin-left: 24px;
    }

    .contacts-title{
        margin-left: 24px;
    }
    .contacts-info li {
        margin-top: 20px;
        margin-left: 24px;
        margin-bottom: 40px;
    }

    .read-more-page .d-flex{
        column-gap: 40px;
        align-items: center;
    }
    .block-work{
        margin: 0 16px;
        height: 3400px;
    }
    .work-title{
        font-size: 50px;
        padding-top: 160px;
    }
    .work-secondtext{
        font-size: 22px;
        max-width: 802px;
    }
    .d-flex-work{
        gap: 200px;
    }
    .work-item1:not(:first-child){
        margin-top: 80px;
        
    }
    .work-img{
        width: auto;
      
    }
    
}




@media (min-width: 1025px){
    .header_fixed{
        padding: 0 150px;
    }
    .main-menu .fa-bars,.fa-xmark{
        display: none;
    }
    
    .menu-list li:not(:last-child){
        margin-right: 30px;
    }
    .menu-list:last-child{
        margin-right: 22px;
    }
    
    .first-part{
        height: 750px;
    }
    .text-part1{
        font-size: 85px;
        max-width: 750px;
    }
    .text-part2{
        max-width: 600px;
    }
    .d-flex, .d-flex-wrap{
        flex-direction: row;
    }
    .read-more-item:not(:last-child){
        margin-bottom: 0px;
    }
    .read-more-item-page:not(:last-child){
        margin-bottom: 0px;
    }
    .top2{
        padding-top: 0;
    }


    .call .d-flex{
        flex-direction: row-reverse;
        align-items:center;
        /* column-gap: 10px; */

    }

    .phone{
        margin-left: 0;
    }
    .call-conteiner{
        justify-content: space-between;
        margin-left: 24px;
    }
    .call-text-title{
        width: 390px;
        text-align: left;
        margin-top: 40px;
        margin-left: 0;
    }

    .call-photo{
        width: 40vh;
        height: 45vh;
        padding: 0;
        margin-right: 24px;
        border-radius:0 220px 0 120px;
    }

    .call-text-text2{
        width: 390px;
        text-align: left;
        margin-top: 20px;
        margin-left: 0;
    }
   
    .call-text .button{
        margin-top: 40px ;
        margin-left: 0;
        width: 300px;
        height: 55px;
        padding: 15px 0;
    }

    .project-title{
        font-size: 50px;
        margin-bottom: 8px;
    }
    .project-text{
        width: 750px;
        margin-bottom: 93px;
    }

    .project-flex{
        justify-content: space-between;
    }
    .project-item1, .project-item2, .project-item3, .project-item4{
        padding: 0 12px;
    }

    .brand-items , .blocks{
        justify-content: space-between;
        margin: 0 24px;
    }
    .brand-items img:first-child{
        margin-top: 0;
    }
    .brand-items img:not(:last-child){
        margin-bottom: 0;
    }
    


    .articles-blocks{
        justify-content: space-between;
        margin: 52px 24px 0;
    }

    .article-item3 {
        margin-top: 0;
        width: 300px;
    }
    .article-item1 {
        margin-top: 0;
    }
    .article-item3 img{
        width: 260px;
    }

    .articles-news-title{
        width: 450px;
        font-size: 50px;
        margin-bottom: 12px;
    }

    .articles-news-text{
        width: 800px;
    }


    

    .article-date{
        margin-bottom: 50px;
    }
   
   
    .number{
        margin-right:54px;
    }

    .numbers-block {
        justify-content: space-between;
        margin: 0 24px ;
        
    }
    .numbers-block-item1, .numbers-block-item2, .numbers-block-item3, .numbers-block-item4{
        margin-top: 150px ;
    }

    .numbers-background {
        height: 460px;
        padding: 0;
    }

    .numbers-text{
        margin-bottom: 0;
        margin-right: 70px;
    }
    .number{
        margin-right: 70px;
    }
    .numbers-block-item4 {
        margin-right: 0;
    }

    .numbers-block-item1, .numbers-block-item2, .numbers-block-item3{
        border-right: 2px solid #CDA274;
        border-bottom: none;
    }
    .numbers-block-item1{
        margin-left: 50px;
    } 

    .about-content .d-flex{
        column-gap: 20px;
        align-items: center;
        
    }
    .about-content{
        height: 500px; 
    }

    .about-title{
        font-size: 50px;
        width: 600px;
    }

    .text-part1-page{
        font-size: 50px;
        padding-top: 41px;
    }
    .text-part2-page{
        font-size: 22px;
        padding-bottom: 20px;
    }
    .first-part-page{
        padding-top: 179px;
    }
    .square{
        width: 503px;
        height: 178px;
    }
    .read-more-item-page{
        padding: 83px 22px;
    }
    .block-work{
        height: 2700px;
    }
    .work-img{
        border-radius: 0 130px 0 330px;
    }
    .d-flex-work{
        gap: 200px;
    }
    .work-column{
        margin-left: 50px;
    }
   .reverse{
    flex-direction: row-reverse;
   }
    .reverse-column{
        margin-left: 0;
        margin-right: 50px;
    }
    .d-flex{
        flex-direction: row;
    }
    .d-flex-reverse{
        flex-direction: row-reverse;
    }
    .work-item1{
        margin: 70px 80px 0;
        text-align: left;
    }
    .work-item-title{
        margin-top: 60px;
        font-size: 35px;
        text-align: left;
    }
    .work-item-text{
        font-size: 22px;
        text-align: left;
        max-width: 456px;
    }
    .how2{
        padding: 83px 22px;
    }
}

@media (min-width: 1201px){
    .header_fixed{
        padding: 0 150px;
    }
    .main-menu .fa-bars,.fa-xmark{
        display: none;
    }
    .header-menu{
        height: 100px;
    }
    .first-part{
        height: 900px;
        background-position: center  ;
    }
    .logo, .text-part1, .text-part2, .button{
        margin-left: 0;
    }
    .text-part1{
        padding-top: 120px;
    }
    .text-part2{
        padding-bottom: 20px;
       
    }
    .button{
        width: 220px;
        height: 75px;
        padding: 26px 48px;
        font-size: 18px;
        letter-spacing: 0.36px;
    }
    section{
        padding-top: 200px;
    }
    .read-more-item{
        min-width: 358px;
        width: 50%;
    }
    .read-more-text{
        padding-bottom: 52px;
    }



    .call-photo{
        width: 650px;
        height: 700px;
        padding: 0;
        margin-right: 24px;
        border-radius:0 220px 0 120px;
    }

    .call-text-title{
        font-size: 50px;
        width: 420px;
        text-align: left;
        margin-top: 43px;
    }
    
    .call-text-text2{
        width: 460px;
        text-align: left;
        margin-top: 33px;
    }
    .call-photo{
        margin-right: 0;
    }





    .brand-items{
        margin: 0 ;
    }
    .about-content{
        height: 680px;
        padding: 0 ;
        margin: 0;
    }

    .about-block{
        width: 370px;
        height: 340px;
        margin: 0;
    }

    .about-title{
        margin-bottom: 38px;
    }

    .about-block img {
        height: 77px;
        border-radius: 40px;
        margin: 53px 0 0 37px;
    }

    
    .about-text1{
        margin: 58px 0 0 23px;
        font-size: 22px;
    }


    .about-text2{
        width: 296px;
        font-size: 22px;
        text-align: left;
        margin: 25px 36px 0;
    }

    .project-text{
        width: 737px;
    }
    .project-item1, .project-item2, .project-item3, .project-item4{
        padding: 0 ;
    }

    .articles-blocks{
        column-gap: 5px;
    }

    .article-item1, .article-item2, .article-item3{
        width: 375px;
    } 


    .article-item1 img, .article-item2 img, .article-item3 img{
        width: 340px;
        height: 289px;
    }
    .article-item3, .article-item1{
        height: 500px;
    }

    .article-item-text{
        width: 305px;
        font-size: 25px;
    } 

    .article-item2 .article-date {
        margin-top: 50px;
    }

    .article-item2 .article-button2{
        margin-top: 30px;
    }
    .article-item3 .article-date{
        margin-top: 50px;
    }
    .article-item3 .article-button{
        margin-top: 30px;
    }
    
    .articles-blocks{
       
        margin: 52px 0 0 0;
    }
    .bottom-left{
        top: 255px;
    }

    .articles-row{
        margin-top: 0;
    }
    

    
    .join-content{
        margin: 0 ;
        height: 380px;
    }
    .join-title{
        width: 600px;
        font-size: 50px;
        padding-top: 80px; 
        margin-bottom: 12px;
    }

    .join-text{
        width: 600px;
        margin-bottom: 32px;
    }
    .button-black{
        width: 260px;
        height: 75px;
        padding: 26px 37px;
        font-size: 18px;        
    }

    .conclusion-text{
        width: 400px;
        margin: 30px 0;
    }
    
    .icons{
        margin-top: 30px;
        margin-left: 0;
    }
    .conlusion-par1 .icons a:not(:last-child){
        margin-right: 40px;
    }
    

    .contacts-title{
        margin-left: 0;
    }
    .contacts-info li {
        /* width: 250px; */
        list-style: none;
        margin-top: 20px;
        margin-left: 0;
        margin-bottom: 40px;
    }
    .concl-info li{
        margin-top: 40px;
    }

    .conclusion-part-hidden{
        margin-top: 0;
    }
    .conclusion-flex , .conclusion-part-hidden{
        height: 370px;
        display: flex;
        flex-direction: row;
    }
    .conclusion{
        margin-bottom: 140px;
    }
    .read-more-item-page{
        min-width: 358px;
        width: 50%;
    }
    .read-more-text-page{
        padding-bottom: 52px;
    }
    .block-work{
        margin: 0;
    }
    .work-item1{
        margin: 70px 116px 0;
    }
    
}





/*------------------JS----------------*/
.header_fixed {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    
    /* margin: 0 auto; */
    padding: 0 16px;
    /* padding: 0 2vh; */
    animation: showElement;
    animation-duration: 1s;
    background-color: #F4F0EC;
}

.header_fixed .menu-list{
    background-color: #F4F0EC;
}


@keyframes showElement{
    0% {
        opacity: 0;
        top: -70px;
    }
    
    100% {
        opacity: 1;
        top: 0;
    }
}

/*-----------Swiper----------*/


.swiper {
    width: 100%;
    height: 200px;
    z-index: 0;

  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
  }

  .swiper-slide {
    width: 80%;
  }

  .swiper-slide:nth-child(2n) {
    width: 60%;
  }

  .swiper-slide:nth-child(3n) {
    width: 40%;
  }



/* Pagination */
.listPage{
    margin-top: 51px;
    padding: 10px;
    text-align: center;
}

.listPage li{
    width: 52px;
    height: 52px;
    display: inline-block;
    border: solid 1px #CDA274;
    padding: 14px 17px;
    border-radius: 50%;
    color: #292F36;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    text-transform: capitalize;
    margin: 0 2px;
    cursor: pointer;
}
  
.listPage .active{
    background-color: #F4F0EC;
    border: none;
}

  
  /**************************\
    Basic Modal Styles
  \**************************/
  
  .modal {
    font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  }
  
  .modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal__container {
    background-color: #fff;
    padding: 30px;
    width: 350px;
    /* max-width: 500px;
    max-height: 100vh; */
    border-radius: 4px;
    /* overflow-y: auto; */
    box-sizing: border-box;
  }
  
  .modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25;
    color: #00449e;
    box-sizing: border-box;
  }

  .modal-p{
    color: #4D5053;
font-family: Jost;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 33px */
letter-spacing: 0.22px;
  }
  
  .modal__close {
    background: transparent;
    border: 0;
  }
  
  .modal__header .modal__close:before { content: "\2715"; }
  
  .modal__content {
    /* margin-top: 2rem; */
    margin-bottom: 2.5rem;
    line-height: 1.5;
    color: rgba(0,0,0,.8);
  }
  
  .modal__btn {
    font-size: .875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #000000;
    color: #FFF;
    border-radius: .25rem;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    /* -webkit-appearance: button; */
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    will-change: transform;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out,-webkit-transform .25s ease-out;
  }
  
  .modal__btn:focus, .modal__btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  
  .modal__btn-primary {
    background-color: #00449e;
    color: #fff;
    margin-right: 10px;
  }
  .modal__footer{
      background-color: none;
  }
  
  
  /**************************\
    Demo Animation Style
  \**************************/
  @keyframes mmfadeIn {
      from { opacity: 0; }
        to { opacity: 1; }
  }
  
  @keyframes mmfadeOut {
      from { opacity: 1; }
        to { opacity: 0; }
  }
  
  @keyframes mmslideIn {
    from { transform: translateY(15%); }
      to { transform: translateY(0); }
  }
  
  @keyframes mmslideOut {
      from { transform: translateY(0); }
      to { transform: translateY(-10%); }
  }
  
  .micromodal-slide {
    display: none;
  }
  
  .micromodal-slide.is-open {
    display: block;
  }
  
  .micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  
  .micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
  }
  
  .micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  
  .micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
  }
  
  .micromodal-slide .modal__container,
  .micromodal-slide .modal__overlay {
    will-change: transform;
  }